SECRET_KEY='escribe_tu_clave_secreta_aqui'
DEBUG=True
DB_NAME="db.sqlite3"
DB_USER="tu_usuario_local"
DB_PASSWORD="tu_contraseña_local"
EMAIL_HOST_USER='tu_correo@gmail.com'
EMAIL_HOST_PASSWORD='tu_contraseña_de_aplicacion'
DEFAULT_FROM_EMAIL='TuApp<tu_correo@gmail.com>'